
<!-- {{username}} -->
<h1>{{username}}'s Shows</h1>
<div class="myShows">
  <h2>Shows I'm Watching</h2>
    <ul class="oneShow" ng-repeat="oneshow in myshows.currentShowsList">
      <li>
        <h4>{{oneshow.showName}}</h4>
        <div class="episode-content">
          <img ng-hide="true" ng-src="{{oneshow.image}}" class="img-thumbnail"/>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="{{oneshow.totalEpisodes}}" style="width:{{100*(oneshow.episodesWatched/oneshow.totalEpisodes)}}%">
            </div>
          </div>
          <button class="btn btn-success" ng-click="myshows.add(oneshow)">+</button>
          <button class="btn btn-danger" ng-click="myshows.subtract(oneshow)">-</button>
          <button class="btn btn-warning" ng-click="myshows.saveToMyDb(oneshow)">Save</button>
          <div class="episodes">
            <h5>Episodes Watched: {{oneshow.episodesWatched}}</h5>
            <h5>Total Episodes: {{oneshow.totalEpisodes}}</h5>
            <br />
          </div>
        </div>
      </li>
    </ul>
</div>
<div class="completedShows">
  <h2>Completed Shows</h2>
    <div ng-repeat="oneshow in myshows.caughtUpShowsList">
      <img ng-src="{{oneshow.image}}" class="completeImage" />
    </div>
</div>
<div class="overAndDone">
  <h2>Over and Done</h2>
    <div ng-repeat="oneshow in myshows.overAndOut">
      <img ng-src="{{oneshow.image}}" class="overAndDone" />
    </div>
</div>
