
<nav ng-controller="NavbarController" ng-cloak>

  <div class="navbar navbar-default navbar-static-top"
       role="navigation" bs-navbar>
    <ul class="nav navbar-nav">
      <li><img src="assets/LogoMakr2.png" height="200px" width="400px" /></li>
      <li data-match-route="/$"><a href="/">Home</a></li>
      <li data-match-route="/search"><a href="/search">Search</a></li>
      <li data-match-route="/profile"><a href="/profile">Profile</a></li>
      <li data-match-route="/progress"><a href="/progress">Progress</a></li>

    </ul>
    <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
      <li data-match-route="/login"><a href="/login">Login</a></li>
      <li data-match-route="/register"><a href="/register">Register</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right" ng-if="currentUser">
      <li class="navbar-text" ng-bind="currentUser.username"></li>
      <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
    </ul>
  </div>


</nav>
