<div class="progression">
  <h1>Overall Progress</h1>

  <div class="progress" id="overall">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="{{progress.allOfTheEpisodes}}" style="width:{{100*(progress.allOfTheEpisodesWatched/progress.allOfTheEpisodes)}}%">
    </div>
  </div>
  <div class="episodesWatchedContainer">
    <div class="episodesWatched1">
      <h3 class="titles">Episodes Watched</h3>
        <h4>{{progress.allOfTheEpisodesWatched}}</h4>
        <h4>Min: {{progress.timeWatched}}</h4>
        <h4>Hours: {{progress.timeWatched/60}}</h4>
        <h4>Days: {{((progress.timeWatched/60)/24).toFixed(2)}}</h4>
    </div>
    <div class="episodesWatched2">
    <h3 class="titles">Total Episodes</h3>
      <h4>{{progress.allOfTheEpisodes}}</h4>
      <h4>Min: {{progress.timeNeededToWatch}}</h4>
      <h4>Hours: {{progress.timeNeededToWatch/60}}</h4>
      <h4>Days: {{((progress.timeNeededToWatch/60)/24).toFixed(2)}}</h4>
    </div>
  </div>
  <div class="showsWatched">
    <div class="network1">
      <h3 class="titles">HBO Shows</h3>
        <h5 ng-repeat="hbo in progress.hboList">{{hbo.showName}}</h5>
        <div class="progress" id="hbo">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="{{progress.hboEpisodes}}" style="width:{{100*(progress.hboEpisodesWatched/progress.hboEpisodes)}}%">
        </div>
    </div>
  </div>
    <div class="network2">
    <h3 class="titles">Showtime</h3>
      <h5 ng-repeat="showtime in progress.showtimeList">{{showtime.showName}}</h5>
      <div class="progress" id="showtime">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="{{progress.showtimeEpisodes}}" style="width:{{100*(progress.showtimeEpisodesWatched/progress.showtimeEpisodes)}}%">
      </div>
    </div>
  </div>
    <div class="network3">
    <h3 class="titles">FX or AMC</h3>
      <h5 ng-repeat="fxamc in progress.fxOrAmcList">{{fxamc.showName}}</h5>
      <div class="progress" id="fxAmc">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="{{progress.fxOrAmcEpisodes}}" style="width:{{100*(progress.fxOrAmcEpisodesWatched/progress.fxOrAmcEpisodes)}}%">
      </div>
    </div>
  </div>
    <div class="network4">
    <h3 class="titles">Basic Cable</h3>
      <h5 ng-repeat="basic in progress.basicCableList">{{basic.showName}}</h5>
      <div class="progress" id="cable">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="{{progress.basicCableEpisodes}}" style="width:{{100*(progress.basicCableEpisodesWatched/progress.basicCableEpisodes)}}%">
      </div>
    </div>
  </div>
    <div class="network5">
    <h3 class="titles">Others</h3>
      <h5 ng-repeat="other in progress.otherList">{{other.showName}}</h5>
      <div class="progress" id="other">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="{{progress.otherEpisodes}}" style="width:{{100*(progress.otherEpisodesWatched/progress.otherEpisodes)}}%">
      </div>
    </div>
  </div>
</div>
</div>
