<div class="container">

  <h1>Search</h1>
    <form ng-submit="submit()">

    <div class="input searchBar">
      <input class="form-control input-lg" type="text" ng-model="lookup.entry" placeholder="Enter Tv Show" />
      <br />
      <button type="submit" ng-click="lookup.findData()"class="btn btn-primary">Search</button>
      <br />
    </div>
    </form>
    <div ng-repeat="item in lookup.showArray track by $index" class="newShow">
      <div class="showHeader">
              <h2>{{item.name}}</h2>
      </div>
      <div class="showImage">
        <img ng-src="{{item.image}}" class="img-thumbnail"/>
        <br />
        <div class="showButton">
          <button class="btn btn-success" ng-click="lookup.addToMyShows(item)">Add to My Shows</button>
        </div>
        <br />
      </div>
      <div class="showInfo">
        <h3>Summary</h3><p ng-bind-html="item.summary"></p>
      </div>
      <!-- <div class="showButton">
        <button class="btn btn-success" ng-click="lookup.addToMyShows(item)">Add to My Shows</button>
      </div> -->
    </div>

</div>
